.top-left {
    margin: 0;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.header {
    position: relative;
    background-color: #999;
    display: flex;
    justify-content: space-between;
}

.header > * {
    margin: 0;
    font-size: 1.2rem;
    height: 100%;
}

.header img {
    width: 1.5rem;
    margin: 0 0 0 1rem;
}

#header-dropdown1::after,
#header-dropdown2::after {
    display: none;
}

.header-brand {
    text-decoration: none;
    color: #000;
}

.header-brand:hover {
    color: #000;
}

.sidebar {
    position: fixed;
    display: inline-block;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #ccc;
    border-right: 1px solid #999;
}

.flex-column-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
}

.flex-column-sidebar > * {
    margin-bottom: 2rem;
}

.flex-column-sidebar a {
    text-decoration: none;
    color: #666;
}

main {
    position: absolute;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    overflow: auto;
    padding: 2rem;
}
