.sidebar {
    position: fixed;
    display: inline-block;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #ccc;
    border-right: 1px solid #999;
}

main {
    position: absolute;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    overflow: auto;
}
