.add-recipe-form {
    width: 50%;
    margin: auto;
}

.add-recipe-form .text-row {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.add-recipe-form .text-row p {
    margin: 0 1rem 0 0;
}

.add-recipe-form .text-row .divider {
    flex-grow: 1;
    height: 1px;
    background-color: #000;
}

.recipe-input-image {
    position: absolute;
    width: 0;
    visibility: hidden;
}

.recipe-image-button {
    width: 10vw;
    height: 10vw;
    border: none;
    border-radius: 5px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 0;
    overflow: hidden;
}

.recipe-image-button:hover {
    filter: brightness(90%);
}

.recipe-image-button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.no-image-background {
    width: 100%;
}

.no-image-background img {
    width: 30%;
}

.no-image-background p {
    font-size: 1.2vw;
    margin: 0;
}

.add-recipe-form .checkbox > div > div {
    display: inline-block;
    margin-right: 0.5rem;
}

.time-temp-row input,
.time-temp-row select {
    font-size: 0.8rem;
}

input::placeholder,
select::placeholder {
    overflow: visible;
}

.right-button {
    text-align: right;
}

.ingredient button {
    border-color: #C7CED4;
    width: 100%;
    font-weight: 700;
}